.app-logo {
  height: 40px;
  pointer-events: none;
}

.app-header {
  background-color: #FFF;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.app-main {
  padding: 0 20px 20px 20px;
}

h2 {
  color: #E86926;
}
